{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <!-- Форма фільтрів -->
        <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Фільтри
            </button>

            <form action="{% url "catalog:index" %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                <!-- чекбокс кнопки ПО КАТЕГОРИМ ТЕМ и ПО ПРОГРЕССУ-->
                <p class="text-white mx-3 mt-3">Категорії слів:</p>

                {% for category in categories %}
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="category" id="flexCheckDefault" value="on">
                    <input type="hidden" name="q" value="request.GET.q">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{ category.name }}
                    </label>
                </div>
                {% endfor %}

                <p class="text-white mx-3 mt-3">Прогрес навання:</p>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="new" id="flexCheckDefault" value="on">
                    <input type="hidden" name="q" value="request.GET.q">
                    <label class="form-check-label" for="flexCheckDefault">
                        Нові теми
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="done" id="flexCheckDefault" value="on">
                    <input type="hidden" name="q" value="request.GET.q">
                    <label class="form-check-label" for="flexCheckDefault">
                        Пройдені / розпочаті
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="failed" id="flexCheckDefault" value="on">
                    <input type="hidden" name="q" value="request.GET.q">
                    <label class="form-check-label" for="flexCheckDefault">
                        Робота над помилками
                    </label>
                </div>
                <!-- радиобатон СОРТИРОВКИ -->
                <p class="text-white mx-3 mt-3">Сортувати за:</p>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price">
                    <label class="form-check-label" for="flexRadioDefault3">
                        Прогресом
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price" checked>
                    <label class="form-check-label" for="flexRadioDefault3">
                        Замовчуванням
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
            </form>
        </div>
        <!-- СПИСОК ТЕМ -->
        <div class="mt-5 pt-5">
            <!-- Заголовок -->
            <h1 class="mb-4 fw-bold text-center">
                Теми для вивчення
            </h1>
            <!-- Опис -->
            <p class="lead text-center mb-5">
                Оберіть тему для навчання. Ви можете почати нову тему, продовжити роботу над помилками
                або повторити вже пройдену тему.
            </p>
            <!-- Самі теми по порядку -->

            {% for topic in topics %}
            <div class="list-group">
                <!-- Одна тема -->
                <div class="list-group-item mb-3 shadow-sm rounded">
                    <div class="row align-items-center">
                        <!-- Назва темы -->
                        <div class="col-md-4">
                            <h5 class="mb-1 fw-bold">{{ topic.name }}</h5>
                            <small class="text-muted">Кількість слів: {{ topic.words_count }}</small>
                        </div>

                        {% comment %} {% if topic.progress|add:0 == 100 %} {% endcomment %}
                        <!-- Прогрес -->
                        <div class="col-md-4">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-success"
                                    role="progressbar"
                                    style="width: 100%;">
                                    100%
                                </div>
                            </div>                        
                        </div>
                        <!-- Кнопка гри -->                          
                        <div class="col-md-4 text-md-end mt-3 mt-md-0">
                        
                            <div class="d-flex justify-content-end align-items-center gap-2">
                                <a href="#" class="btn btn-outline-success" 
                                    style="width: 180px; height: 60px; 
                                    display: flex; justify-content: center; align-items: center;">
                                    Повторити тему
                                </a>

                        {% comment %} {% elif topic.progress == 0 %}
                        <!-- Прогрес -->
                        <div class="col-md-4">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-secondary"
                                    role="progressbar"
                                    style="width: 0%;">
                                    0%
                                </div>
                            </div>
                        </div>
                        <!-- Кнопка гри --> 
                        <div class="col-md-4 text-md-end mt-3 mt-md-0">
                            <div class="d-flex justify-content-end align-items-center gap-2">
                                <a href="#" class="btn btn-outline-primary" 
                                    style="width: 180px; height: 60px; 
                                    display: flex; justify-content: center; align-items: center;">
                                    Почати тему
                                </a>
                        
                        
                        {% else %}
                        <!-- Прогрес -->
                        <div class="col-md-4">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-warning"
                                    role="progressbar"
                                    style="width: {{ topic.progress }}%;">
                                    {{ topic.progress }}%
                                </div>
                            </div>
                        </div>
                        <!-- Кнопка гри -->
                        <div class="col-md-4 text-md-end mt-3 mt-md-0">
                            <div class="d-flex justify-content-end align-items-center gap-2">
                                <a href="#" class="btn btn-outline-warning" 
                                    style="width: 180px; height: 60px; 
                                    display: flex; justify-content: center; align-items: center;">
                                    Працювати над помилками
                                </a>
                                                                      
                        {% endif %}       {% endcomment %}
                                <a href={% url 'catalog:topic' topic.slug %} class="btn btn-outline-secondary" 
                                    style="width: 180px; height: 60px; 
                                    display: flex; justify-content: center; align-items: center;">
                                    Переглянути тему
                                </a>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}