{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="row">
        <!-- Форма фільтрів -->
        <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Фільтри
            </button>

            <form action="{% url "catalog:index" %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                <!-- чекбокс кнопки ПО КАТЕГОРИМ ТЕМ и ПО ПРОГРЕССУ-->
                <p class="text-white mx-3 mt-3">Категорії тем:</p>

                {% for category in categories %}
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="category"
                        id="category-{{ category.id }}" value="{{ category.slug }}">
                    <label class="form-check-label" for="category-{{ category.id }}">
                        {{ category.name }}
                    </label>
                </div>
                {% endfor %}

                <p class="text-white mx-3 mt-3">Прогрес навчання:</p>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="progress" id="progress-new" value="new"
                    {% if 'new' in progress_filters %}checked{% endif %}>
                    <label class="form-check-label" for="progress-new">
                        Нові теми
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="progress" id="progress-done" value="done"
                    {% if 'done' in progress_filters %}checked{% endif %}>
                    <label class="form-check-label" for="progress-done">
                        Пройдені на 100% 
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="progress" id="progress-failed" value="failed"
                    {% if 'failed' in progress_filters %}checked{% endif %}>
                    <label class="form-check-label" for="progress-failed">
                        Робота над помилками
                    </label>
                </div>
                <!-- радиобатон СОРТИРОВКИ -->
                <p class="text-white mx-3 mt-3">Сортувати за:</p>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="order-progress" value="-progress"
                    {% if order_by == '-progress' %}checked{% endif %}>
                    <label class="form-check-label" for="order-progress">
                        Прогресом
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="order-default" value=""
                    {% if not order_by or order_by == '' %}checked{% endif %}>
                    <label class="form-check-label" for="order-default">
                        Замовчуванням
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
            </form>
        </div>
        <!-- СПИСОК ТЕМ -->
        <div class="mt-5 pt-5">
            <!-- Заголовок -->
            <h1 class="mb-4 fw-bold text-center">
                Теми для вивчення
            </h1>
            <!-- Опис -->
            <p class="lead text-center mb-5">
                Оберіть тему для навчання. Ви можете почати нову тему, продовжити роботу над помилками
                або повторити вже пройдену тему.
            </p>
            <!-- Самі теми по порядку -->

            {% for topic in topics %}
            <div class="list-group mb-3">
                <div class="list-group-item mb-3 shadow-sm rounded">
                    <div class="row align-items-center justify-content-between">
                        <!-- Назва темы -->
                        <div class="col-md-4">
                            <h5 class="mb-1 fw-bold">{{ topic.name }}</h5>
                            <small class="text-muted">Кількість слів: {{ topic.words_count }}</small>
                        </div>

                        <!-- Прогрес -->
                        <div class="col-md d-flex align-items-center">
                            {% with percent=topic_progress|get_item:topic.id|default:0 %}
                            <div class="progress w-100" style="height: 20px;">
                                <div class="progress-bar 
                                    {% if percent == 100 %}bg-success{% elif percent == 0 %}bg-secondary{% else %}bg-warning{% endif %}"
                                    role="progressbar"
                                    style="width: {{ percent }}%;">
                                    {{ percent }}%
                                </div>
                            </div>
                            {% endwith %}
                        </div>
                        
                        <!-- Переглянути тему -->
                        <div class="col-auto d-flex">
                            <a href="{% url 'catalog:topic' topic.slug %}" 
                                class="btn btn-outline-primary ms-3" 
                                style="width: 180px; height: 60px; display: flex; justify-content: center; align-items: center;">
                                Переглянути тему
                            </a>
                        </div>
                    </div>
                </div>    
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}